<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backupFolderName</key>
	<string>yt_template 2</string>
	<key>backupsEnabled</key>
	<true/>
	<key>cacheFolderName</key>
	<string>2024-regex Cache.fcpcache</string>
	<key>cacheLocation</key>
	<data>
	Ym9vaywEAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA+AIA
	AAUAAAABAQAAVXNlcnMAAAAKAAAAAQEAAGFyamFuZWdnZXMAAAYAAAABAQAATW92aWVz
	AAAPAAAAAQEAAEZpbmFsIEN1dCBDYWNoZQAQAAAAAQYAAAQAAAAUAAAAKAAAADgAAAAI
	AAAABAMAAIRcAAAAAAAACAAAAAQDAAABzQMAAAAAAAgAAAAEAwAAMc0DAAAAAAAIAAAA
	BAMAADiTGgAAAAAAEAAAAAEGAABoAAAAeAAAAIgAAACYAAAACAAAAAAEAABBw/fQCiLY
	rBgAAAABAgAAAgAAAAAAAAAPAQAAAAAAAAABAAAAAAAACAAAAAQDAAACAAAAAAAAAAQA
	AAADAwAA9QEAAAgAAAABCQAAZmlsZTovLy8MAAAAAQEAAE1hY2ludG9zaCBIRAgAAAAE
	AwAAACBFjNABAAAIAAAAAAQAAEHFqI/GAAAAJAAAAAEBAABCRjczRjE5QS1DMEJBLTQ1
	MkUtOTJBQS00QkRDN0Q2RDExREQYAAAAAQIAAIEAAAABAAAA7xMAAAEAAAAAAAAAAAAA
	AAEAAAABAQAALwAAAAAAAAABBQAADQAAAAEBAABwdWJsaWMuZm9sZGVyAAAAEQAAAAEB
	AABOU1VSTFZvbHVtZVVSTEtleQAAACgAAAABAQAAL1VzZXJzL2FyamFuZWdnZXMvTW92
	aWVzL0ZpbmFsIEN1dCBDYWNoZdoAAAABAgAANTNjNDJhZjRmNjNlOWFkMDA5NzJlYTJl
	NDU0YTUxZWEwZjM5MGM3MDIwOWU1NmM5MTY0ZDdlOGFmYzVkZDBlNjswMDswMDAwMDAw
	MDswMDAwMDAwMDswMDAwMDAwMDswMDAwMDAwMDAwMDAwMDIwO2NvbS5hcHBsZS5hcHAt
	c2FuZGJveC5yZWFkLXdyaXRlOzAxOzAxMDAwMDEyOzAwMDAwMDAwMDAxYTkzMzg7MDE7
	L3VzZXJzL2FyamFuZWdnZXMvbW92aWVzL2ZpbmFsIGN1dCBjYWNoZQAAAPwAAAD+////
	AQAAAAAAAAAUAAAABBAAAFAAAAAAAAAABRAAAKgAAAAAAAAAEBAAANAAAAAAAAAAQBAA
	AMAAAAAAAAAAAiAAAJwBAAAAAAAABSAAAAwBAAAAAAAAECAAABwBAAAAAAAAESAAAFAB
	AAAAAAAAEiAAADABAAAAAAAAEyAAAEABAAAAAAAAICAAAHwBAAAAAAAAMCAAAKgBAAAA
	AAAAAcAAAPAAAAAAAAAAEcAAABQAAAAAAAAAEsAAAAABAAAAAAAAF/AAADgAAAAAAAAA
	gPAAABQCAAAAAAAAAP8AAOQBAAAAAAAABAAPALABAAAAAAAAyAEAgAwBAAAAAAAA
	</data>
	<key>libraryID</key>
	<string>DC384762-23A5-4748-AC39-0A9A922BA0C5</string>
	<key>libraryTemplatesStorageLocation</key>
	<integer>0</integer>
	<key>mediaLocation</key>
	<data>
	Ym9va2QFAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAJAQA
	AAUAAAABAQAAVXNlcnMAAAAKAAAAAQEAAGFyamFuZWdnZXMAAAcAAAABAQAATGlicmFy
	eQAMAAAAAQEAAENsb3VkU3RvcmFnZQcAAAABAQAARHJvcGJveAAKAAAAAQEAAEFyamFu
	Q29kZXMAAA0AAAABAQAAVmlkZW8gZWRpdGluZwAAAA0AAAABAQAAMjAyNC10dC1yZWdl
	eAAAACAAAAABBgAABAAAABQAAAAoAAAAOAAAAEwAAABcAAAAcAAAAIgAAAAIAAAABAMA
	AIRcAAAAAAAACAAAAAQDAAABzQMAAAAAAAgAAAAEAwAACM0DAAAAAAAIAAAABAMAAHVX
	JgAAAAAACAAAAAQDAACtig4AAAAAAAgAAAAEAwAAZI4OAAAAAAAIAAAABAMAAM+K+wEA
	AAAACAAAAAQDAAAw1WsCAAAAACAAAAABBgAAyAAAANgAAADoAAAA+AAAAAgBAAAYAQAA
	KAEAADgBAAAIAAAAAAQAAEHFptGTAAAAGAAAAAECAAACAAAAAAAAAA8BAAAAAAAAAAEA
	AAAAAAAIAAAABAMAAAYAAAAAAAAABAAAAAMDAAD1AQAACAAAAAEJAABmaWxlOi8vLwwA
	AAABAQAATWFjaW50b3NoIEhECAAAAAQDAAAAIEWM0AEAAAgAAAAABAAAQcWoj8YAAAAk
	AAAAAQEAAEJGNzNGMTlBLUMwQkEtNDUyRS05MkFBLTRCREM3RDZEMTFERBgAAAABAgAA
	gQAAAAEAAADvEwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAAAAEFAAANAAAAAQEA
	AHB1YmxpYy5mb2xkZXIAAAARAAAAAQEAAE5TVVJMVm9sdW1lVVJMS2V5AAAAVQAAAAEB
	AAAvVXNlcnMvYXJqYW5lZ2dlcy9MaWJyYXJ5L0Nsb3VkU3RvcmFnZS9Ecm9wYm94L0Fy
	amFuQ29kZXMvVmlkZW8gZWRpdGluZy8yMDI0LXR0LXJlZ2V4AAAAGAAAAAEBAABOU1VS
	TElzVWJpcXVpdG91c0l0ZW1LZXkHAQAAAQIAADMxMzI5MDMwMDA1MWM0OTVhYzliYjAz
	MWU2YzgxMTQ2MjlhYjlhMmY3OTg4MzkwYzRhODRhYTc2OGZlZDUzMTE7MDA7MDAwMDAw
	MDA7MDAwMDAwMDA7MDAwMDAwMDA7MDAwMDAwMDAwMDAwMDAyMDtjb20uYXBwbGUuYXBw
	LXNhbmRib3gucmVhZC13cml0ZTswMTswMTAwMDAxMjswMDAwMDAwMDAyNmJkNTMwOzVm
	Oy91c2Vycy9hcmphbmVnZ2VzL2xpYnJhcnkvY2xvdWRzdG9yYWdlL2Ryb3Bib3gvYXJq
	YW5jb2Rlcy92aWRlbyBlZGl0aW5nLzIwMjQtdHQtcmVnZXgAAAgBAAD+////AQAAAAAA
	AAAVAAAABBAAAKAAAAAAAAAABRAAAEgBAAAAAAAAEBAAAIABAAAAAAAAQBAAAHABAAAA
	AAAAAiAAAEwCAAAAAAAABSAAALwBAAAAAAAAECAAAMwBAAAAAAAAESAAAAACAAAAAAAA
	EiAAAOABAAAAAAAAEyAAAPABAAAAAAAAICAAACwCAAAAAAAAMCAAAFgCAAAAAAAAAcAA
	AKABAAAAAAAAEcAAABQAAAAAAAAAEsAAALABAAAAAAAAF/AAAIgAAAAAAAAAgPAAABQD
	AAAAAAAAAP8AAJQCAAAAAAAABAAPAGACAAAAAAAAeAIAgLwBAAAAAAAA9AIAgFgCAAAA
	AAAA
	</data>
</dict>
</plist>
