<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backupFolderName</key>
	<string>yt_template 2</string>
	<key>backupsEnabled</key>
	<true/>
	<key>cacheFolderName</key>
	<string>2024-regex Cache.fcpcache</string>
	<key>cacheLocation</key>
	<data>
	Ym9vaywEAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA+AIA
	AAUAAAABAQAAVXNlcnMAAAAKAAAAAQEAAGFyamFuZWdnZXMAAAYAAAABAQAATW92aWVz
	AAAPAAAAAQEAAEZpbmFsIEN1dCBDYWNoZQAQAAAAAQYAAAQAAAAUAAAAKAAAADgAAAAI
	AAAABAMAAIRcAAAAAAAACAAAAAQDAAABzQMAAAAAAAgAAAAEAwAAMc0DAAAAAAAIAAAA
	BAMAADiTGgAAAAAAEAAAAAEGAABoAAAAeAAAAIgAAACYAAAACAAAAAAEAABBw/fQCiLY
	rBgAAAABAgAAAgAAAAAAAAAPAQAAAAAAAAABAAAAAAAACAAAAAQDAAACAAAAAAAAAAQA
	AAADAwAA9QEAAAgAAAABCQAAZmlsZTovLy8MAAAAAQEAAE1hY2ludG9zaCBIRAgAAAAE
	AwAAACBFjNABAAAIAAAAAAQAAEHFlk7IgAAAJAAAAAEBAABCRjczRjE5QS1DMEJBLTQ1
	MkUtOTJBQS00QkRDN0Q2RDExREQYAAAAAQIAAIEAAAABAAAA7xMAAAEAAAAAAAAAAAAA
	AAEAAAABAQAALwAAAAAAAAABBQAADQAAAAEBAABwdWJsaWMuZm9sZGVyAAAAEQAAAAEB
	AABOU1VSTFZvbHVtZVVSTEtleQAAACgAAAABAQAAL1VzZXJzL2FyamFuZWdnZXMvTW92
	aWVzL0ZpbmFsIEN1dCBDYWNoZdoAAAABAgAANzQzNTU3ZTI2MjgzMDIwYWMzMTFjMTZh
	MWJiZDJiYjUwNTFmN2UwNjM3NjZhMTkyNWY2MDk3ZjQ5ZGUwYzFjZDswMDswMDAwMDAw
	MDswMDAwMDAwMDswMDAwMDAwMDswMDAwMDAwMDAwMDAwMDIwO2NvbS5hcHBsZS5hcHAt
	c2FuZGJveC5yZWFkLXdyaXRlOzAxOzAxMDAwMDExOzAwMDAwMDAwMDAxYTkzMzg7MDE7
	L3VzZXJzL2FyamFuZWdnZXMvbW92aWVzL2ZpbmFsIGN1dCBjYWNoZQAAAPwAAAD+////
	AQAAAAAAAAAUAAAABBAAAFAAAAAAAAAABRAAAKgAAAAAAAAAEBAAANAAAAAAAAAAQBAA
	AMAAAAAAAAAAAiAAAJwBAAAAAAAABSAAAAwBAAAAAAAAECAAABwBAAAAAAAAESAAAFAB
	AAAAAAAAEiAAADABAAAAAAAAEyAAAEABAAAAAAAAICAAAHwBAAAAAAAAMCAAAKgBAAAA
	AAAAAcAAAPAAAAAAAAAAEcAAABQAAAAAAAAAEsAAAAABAAAAAAAAF/AAADgAAAAAAAAA
	gPAAABQCAAAAAAAAAP8AAOQBAAAAAAAABAAPALABAAAAAAAAyAEAgAwBAAAAAAAA
	</data>
	<key>libraryID</key>
	<string>DC384762-23A5-4748-AC39-0A9A922BA0C5</string>
	<key>libraryTemplatesStorageLocation</key>
	<integer>1</integer>
</dict>
</plist>
