<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backupFolderName</key>
	<string>yt_template 2</string>
	<key>backupsEnabled</key>
	<true/>
	<key>cacheFolderName</key>
	<string>yt_template Cache.fcpcache</string>
	<key>cacheLocation</key>
	<data>
	Ym9va/gDAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAxAIA
	AAUAAAABAQAAVXNlcnMAAAAKAAAAAQEAAGFyamFuZWdnZXMAAA8AAAABAQAARmluYWwg
	Q3V0IENhY2hlAAwAAAABBgAABAAAABQAAAAoAAAACAAAAAQDAADrXAAAAAAAAAgAAAAE
	AwAAvMEDAAAAAAAIAAAABAMAAAnXJAAAAAAADAAAAAEGAABUAAAAZAAAAHQAAAAIAAAA
	AAQAAEHEA2zZO8xdGAAAAAECAAACAAAAAAAAAA8BAAAAAAAAAAEAAAAAAAAIAAAABAMA
	AAEAAAAAAAAABAAAAAMDAAD1AQAACAAAAAEJAABmaWxlOi8vLwwAAAABAQAATWFjaW50
	b3NoIEhECAAAAAQDAAAAIEWM0AEAAAgAAAAABAAAQcVRjpiAAAAkAAAAAQEAAEE3N0Qy
	QkU1LUU0RjItNDJBOS1CNkEyLTdFQzdDQjVDQTVCNBgAAAABAgAAgQAAAAEAAADvEwAA
	AQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAAAAEFAAANAAAAAQEAAHB1YmxpYy5mb2xk
	ZXIAAAARAAAAAQEAAE5TVVJMVm9sdW1lVVJMS2V5AAAAIQAAAAEBAAAvVXNlcnMvYXJq
	YW5lZ2dlcy9GaW5hbCBDdXQgQ2FjaGUAAADTAAAAAQIAAGM3ODQ4MThiMTQyNGU0OGU2
	OTM2YmE4ODYxNGNkY2VlMjBmMDZhMDgxNTFmMGQyNzU5ZTE0NGE1MTI1OTUyMjU7MDA7
	MDAwMDAwMDA7MDAwMDAwMDA7MDAwMDAwMDA7MDAwMDAwMDAwMDAwMDAyMDtjb20uYXBw
	bGUuYXBwLXNhbmRib3gucmVhZC13cml0ZTswMTswMTAwMDAxMjswMDAwMDAwMDAwMjRk
	NzA5OzAxOy91c2Vycy9hcmphbmVnZ2VzL2ZpbmFsIGN1dCBjYWNoZQAA/AAAAP7///8B
	AAAAAAAAABQAAAAEEAAAQAAAAAAAAAAFEAAAhAAAAAAAAAAQEAAAqAAAAAAAAABAEAAA
	mAAAAAAAAAACIAAAdAEAAAAAAAAFIAAA5AAAAAAAAAAQIAAA9AAAAAAAAAARIAAAKAEA
	AAAAAAASIAAACAEAAAAAAAATIAAAGAEAAAAAAAAgIAAAVAEAAAAAAAAwIAAAgAEAAAAA
	AAABwAAAyAAAAAAAAAARwAAAFAAAAAAAAAASwAAA2AAAAAAAAAAX8AAAKAAAAAAAAACA
	8AAA6AEAAAAAAAAA/wAAvAEAAAAAAAAEAA8AiAEAAAAAAACgAQCA5AAAAAAAAAA=
	</data>
	<key>libraryID</key>
	<string>DC384762-23A5-4748-AC39-0A9A922BA0C5</string>
	<key>libraryTemplatesStorageLocation</key>
	<integer>1</integer>
</dict>
</plist>
