<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backupFolderName</key>
	<string>yt_template 2</string>
	<key>backupsEnabled</key>
	<false/>
	<key>libraryID</key>
	<string>DC384762-23A5-4748-AC39-0A9A922BA0C5</string>
	<key>libraryTemplatesStorageLocation</key>
	<integer>1</integer>
</dict>
</plist>
